<div class="admin-profile-container">
    <h2>Admin Profile</h2>
  
    <div class="profile-card">
      <!-- <div class="profile-image">
        <img src="assets/admin-avatar.png" alt="Admin Avatar"><br/>
      </div> -->
      
      <div class="profile-info">
        <h3>{{ admin.name }}</h3>
        <p><strong>Email:</strong> {{ admin.email }}</p>
        <p><strong>Phone:</strong> {{ admin.phone }}</p>
      </div>
    </div>
  
    <!-- <button class="edit-btn" (click)="editProfile()">Edit Profile</button> -->
  </div>