<!-- <p>adminnav works!</p>
<nav class="navbar">
    <div class="logo">Quiz App</div>
  
    <div class="nav-links">
      <a routerLink="/admindashboard">Dashboard</a>
      <a routerLink="/admin/create-quiz">Create Quiz</a>
      <a routerLink="/admin/view-score">Scores</a>
    </div>
  
    <div class="auth-buttons">
      <button routerLink="/login">Login</button>
      <button routerLink="/admin-register">Register</button>
      <button (click)="logout()">Logout</button>
    </div>
  </nav>
   -->
   <nav class="navbar">
    <div class="logo">Quiz App</div>

    <div class="nav-links">
        <a routerLink="/admindashboard">Dashboard</a>
        <a routerLink="/admin/view-score">Scores</a>
    </div>

    <div class="auth-buttons">
        <button routerLink="/login">Login</button>
        <button routerLink="/admin-register">Register</button>
        <button (click)="logout()">Logout</button>
    </div>
</nav>
