<nav class="navbar">
    <div class="logo">Quiz Application</div>
  
    <!-- <div class="nav-links"> -->
      <!-- <a routerLink="/studentdash">Dashboard</a> -->
      <!-- <a routerLink="/studentscore">My Scores</a> -->
    <!-- </div> -->
  
    <div class="auth-buttons">
      <button routerLink="/login">Login</button>
      <button routerLink="/studentregister">Register</button>
      <button routerLink="/adminregister">Admin</button>
      <!-- <button (click)="logout()">Logout</button> -->
    </div>
  </nav>
  
